.oddk-button {
  display: inline-block;
  min-width: 105px;
  padding: 11px 15px;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  border-radius: 20px;
  font-family: --var(--oddk-button-normal-font, "IBM Plex Sans Condensed");
}

.oddk-button-normal {
  background: var(--oddk-theme-button-bg, #F5F5F5);
  color: var(--oddk-theme-button-fg, #000000);
}

.oddk-button-raised, .oddk-button-normal:hover {
  background: var(--oddk-theme-button-raised-bg, #2A44E9);
  color: var(--oddk-theme-button-raised-fg, #ffffff);
}

.oddk-button-raised:hover {
  opacity: 0.8;
}

.oddk-button-cta {
  background: var(--oddk-theme-button-cta-bg, #2A44E9);
  color: var(--oddk-theme-button-cta-fg, #ffffff);
  padding: 12.5px 40.5px;
  font-family: --var(--oddk-button-cta-font, "Avenir Next");
  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
}

.oddk-button-cta:hover {
  opacity: 0.9;
}
