.oddk-profile {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.oddk-profile-avatar {
  width: 46px;
  height: 46px;
  margin-right: 10px;
}

.oddk-profile-details {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
}

.oddk-profile-byline {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

h1 {
  text-align: left;
  /* font: normal normal bold 34px/46px Avenir Next; */
  font-size: 34px;
  line-height: 46px;
  /*font-style: normal;*/
  font-weight: 700 !important;
  letter-spacing: 0px;
  color: var(--oddk-color-main, #000000);
  opacity: 1;
  font-family: var(--oddk-font-main, "Avenir Next");
}

.oddk-h2-normal {
  text-align: left;
  font-size: 24px;
  line-height: 33px;
  font-weight: bold;
  letter-spacing: 0px;
  color: var(--oddk-color-main, #000000);
  opacity: 1;
  font-family: var(--oddk-font-main, "Avenir Next");
}

.oddk-h2-alt {
  text-align: left;
  font-size: 24px;
  line-height: 32px;
  font-weight: normal;
  letter-spacing: 0px;
  color: var(--oddk-color-main, #000000);
  opacity: 1;
  font-family: var(--oddk-font-main, "IBM Plex Sans");
}

.oddk-tag {
  color: var(--oddk-brand-main, #2A44E9);
  opacity: 1.0;
  background-color: var(--oddk-brand-main, #2A44E927);  /* opacity 0.15 */
  text-decoration: none;
  display: inline-block;
}

.oddk-tag-normal {
  border-radius: 14px;
  font-size: 12px;
  line-height: 15px;
  padding: 7px 22px 6px 22px;
}

.oddk-tag-big {
  border-radius: 20px;
  padding: 11px 24px 11px 23px;
  font-size: 14px;
  line-height: 18px;
}
